<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h3>Create Contact</h3>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                      <label>First Name</label>
                      <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                          <div *ngIf="f.firstName.errors.required">First Name is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Last Name</label>
                      <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Date of Birth</label>
                      <input type="date" formControlName="Date of Birth" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />                    
                  </div>
                  <div class="form-group">
                      <label>Email</label>
                      <input type="email" formControlName="Gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />               
                  </div>
                  <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" name="optradio" checked>Male</label>
                      </div>
                      <div class="radio">
                        <label><input type="radio" name="optradio">Female</label>
                      </div>               
                </div>
                <div class="form-group">
                    <label for="sel1">Select Contact details:</label>
                    <select class="form-control" id="sel1">
                      <option>Work Phone</option>
                      <option>Cell Phone</option>
                      <option>Home Phone</option>
                      <option>Facebook</option>
                      <option>LinkedIn</option>
                      <option>Twitter</option>
                      <option>Instagram</option>                      
                    </select>
                  </div>
                  <div class="form-group">
                      <button class="btn btn-primary">Add Contact</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>